{
    "postgres-secret": {
        "postgres-password": "<TDB>"
    },
    "pgadmin-secret": {
        "pgadmin-default-password": "<TDB>"
    },
    "mongodb-secret": {
        "mongodb-passwords": "<TDB>",
        "mongodb-root-password": "<TDB>",
        "mongodb-metrics-password": "<TDB>",
        "mongodb-replica-set-key": "<TDB>"
    }
}